@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #050515;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    color: #F0F0F0;
    background-image: linear-gradient(to bottom, #150259, #050515);
}

header h1 {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    padding: 15px 5px;
}

.form-container {
    width: 100%;
    padding: 15px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.search-container, .filter-container {
    width: 100%;
}

label {
    font-size: 1.2em;
    display: block;
}

.input-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.search-container input {
    color: white;
    background-color: transparent;
    font-size: 1em;
    flex: 1;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 15px;
    outline: none;
}

.search-container input::placeholder {
    color: #c1c1c1;
}

.search-container button {
    color: white;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #FFF;
    cursor: pointer;
    transition: .5s;
}

.filter-container select {
    color: white;
    background-color: transparent;
    font-size: 1em;
    border: 2px solid white;
    border-radius: 10px;
    outline: none;
    padding: 3px 10px;
    width: 100%;
}

.filter-container option {
    color: black;
}

main {
    flex: 1;
}

.cards-container {
    color: white;
    margin: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    position: relative;
    overflow: hidden;
}

.card > img {
    width: 100%;
}

.info {
    position: absolute;
    width: 100%;
    bottom: 0;
    transform: translateY(calc(100% - 70px));
    transition: 1s;
}

.info:hover {
   transform: translateY(0);
}

.visible-info {
    background-image: linear-gradient(to bottom, transparent, #050515);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title-date > h1 {
    font-size: 1.3em;
}

.title-date h2 {
    color: #2c6b9b;
    font-size: 1em;
}

.invisible-info {
    background-color: #050515;
    transition: 1s;
}

.invisible-info > p {
    hyphens: auto;
    font-size: .9em;
    padding: 10px;
}

.pages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-screen {
    color: #FFF;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 5px;
    width: 120px;
    border: 2px solid #FFF;
    border-radius: 20px;
    margin-bottom: 10px;
}

.container-buttons {
    max-width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-buttons button {
    color: #FFF;
    background-color: #050515;
    font-weight: bold;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.container-buttons button:hover {
    color: #050515;
    background-color: #1670b4;
    transform: scale(1.1);
}

#next-page-btn, #prev-page-btn {
    width: 70px;
    border-radius: 20px;
}

footer {
    color: white;
    background-color:  black;
    padding: 5px 0;
}

footer p {
    text-align: center;
}

footer a {
    color: white;
    font-weight: bold;
    transition: .3s;
}

@media screen and (min-width: 600px) {
    form {
        flex-direction: row;
    }

    .search-container, .filter-container {
        width: 48%;
    }

    .div {
        width: 1px;
        height: 70px;
        background-color: white;
    }
}

@media screen and (min-width: 992px) {
    header h1 {
        font-size: 4em;
    }

    .search-container button:hover {
        background-color: #000;
        transform: scale(1.1);
    }

    form {
        justify-content: center;
    }

    .search-container, .filter-container {
        max-width: 500px;
    }

    footer a:hover {
        color: #1670b4;
    }
}